<div class="mm-app-container">
    <div class="et-sidebar">
        <div class="et-header">
            <span class="et-logo">
                <img src="assets/images/logo.png" alt="money-map-logo" srcset="">
            </span>
            <!-- <div class="et-user-box">
                
            </div> -->
        </div>
    
        <ul class="et-tabs-list">
            <li [ngClass]="setActiveTabClass('/home') ? 'et-active-tab' : 'et-tab'">
                <a routerLink="/home">
                    <i class='bx bx-home-alt-2 et-icon'></i>
                    <span class="et-tab-text">Home</span>
                </a>
            </li>
            <li [ngClass]="setActiveTabClass('/budget') ? 'et-active-tab' : 'et-tab'">
                <a routerLink="/budget">
                    <i class='bx bx-money et-icon'></i>
                    <span class="et-tab-text">Budget</span>
                </a>
            </li>
            <li [ngClass]="setActiveTabClass('/category') ? 'et-active-tab' : 'et-tab'">
                <a routerLink="/category">
                    <i class='bx bx-category et-icon' ></i>
                    <span class="et-tab-text">Category</span>
                </a>
            </li>
            <li [ngClass]="setActiveTabClass('/mm-active') ? 'et-active-tab' : 'et-tab'">
                <a routerLink="/mm-active">
                    <i class='bx bx-calculator et-icon'></i>
                    <span class="et-tab-text">Active Tracker</span>
                </a>
            </li>
            <li [ngClass]="setActiveTabClass('/mm-history') ? 'et-active-tab' : 'et-tab'">
                <a routerLink="/mm-history">
                    <i class='bx bx-hourglass et-icon'></i>
                    <span class="et-tab-text">History Tracker</span>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="mm-app">
        <router-outlet />
    </div>
</div>