/*
    Font - #141414
    Body, icons - #eff6fd
    Highlighting for buttons, tabs, logo and such things - #0075fe
    Navbars, cards, tiles - #ffffff

*/

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Rozha+One&display=swap');

/* You can add global styles to this file, and also import other style files */
:root {
    /* Colors */
    --body-color: #eff6fd;
    --sidebar-color: white;
    --light-color: white;
    --primary-color: #0075fe;
    --linear-gradient-primary-color: linear-gradient(135deg, #00d2ff, #0075fe);
    --secondary-color: #d7d7d7;
    --dead-color: rgb(232, 226, 226); 
    --font-color: #141414;
    --border-color: rgba(0, 0, 0, 0.119);
    --danger-color: #e62444;
    --success-color: #17b958;
    --warning-color: #E4A11B;
    --info-color: #54B4D3;
    --toggle-color: #eff6fd;

    /* Widths */
    --sidebar-width: 250px;
    
    /* Shadows */
    --box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    --btn-hover-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.797);

    /* Transitions */
    --tran-01: all 0.2s ease;
    --tran-02: all 0.3s ease;
    --tran-03: all 0.4s ease;
    --tran-04: all 0.5s ease;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
html, body {
    height: 100%;
    background: var(--body-color);
    font-family: "Montserrat", serif;
}

.mm-app-container {
    display: flex;
    justify-content: start;
    height: 100%
}

.mm-app {
    padding: 30px;
    width: 100%;
}

/* Side Navigation Bar */
.et-sidebar {
    left: 0;
    height: 100%;
    width: var(--sidebar-width);
    padding: 10px 14px;
    background: var(--sidebar-color);
    border-right: 0.2px solid var(--border-color);
}

.et-sidebar .et-header {
    display: flex;
    justify-content: center;
}

.et-sidebar .et-header .et-logo img {
    height: 80px;
    width: 80px;
    padding: 5px;
    border-radius: 20px;
}

.et-sidebar .et-header .et-logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.et-sidebar .et-header .et-text-header {
    font-size: 30px;
    font-weight: 900;
    color: var(--primary-color);
    height: 100%;
    display: flex;
    align-items: center;
}

.et-header {
    display: flex;
    justify-content: center;
}

.et-sidebar .et-tabs-list {
    list-style: none;
}

.et-sidebar .et-tabs-list a{
    height: 45px;
    font-size: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 18px;
    padding-left: 10px;
    text-decoration: none;
    color: var(--font-color);
}

.et-sidebar .et-tab .et-icon {
    font-size: 20px;
    margin: 0px 10px;
}

#et-icon-history {
    height: 20px;
    width: 20px;
    font-weight: bold;
}

.et-sidebar .et-tabs-list .et-tab a:hover {
    background: var(--body-color);
    box-shadow: var(--box-shadow);
    transition: var(--tran-04);
}

.et-sidebar .et-tabs-list .et-active-tab a {
    background: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
    font-weight: 700;
    box-shadow: var(--box-shadow);
}

.et-sidebar .et-active-tab .et-icon {
    font-size: 20px;
    margin: 0px 10px;
}

/* Components Common Styles */
.et-comp-title {
    border-radius: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
    font-weight: 800;
    width: 100%;
}

.et-comp-title .et-icon {
    border-radius: 30px;
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 800;
}


/* ----Budget Component---- */
.dropdown {
    display: flex;
    align-items: center;
    width: 350px;
}

.dropdown label {
    font-size: 16px;
    font-weight: 500;
}

.dropdown label {
    font-size: 15px;
    margin-right: 18px;
}

/* Dropdown button */
.dropdown-toggle {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid var(--secondary-color);
    box-shadow: 1px 3px 0px var(--secondary-color);
}

.dropdown-toggle:hover {
    border: 1px solid var(--primary-color);
    box-shadow: 1px 3px 0px var(--primary-color);
}

/* Dropdown menu */
.dropdown-menu {
    position: absolute;
    top: 85%;
    max-height: 450px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    margin-left: -22px;
    padding: 0;
    list-style: none;
    display: block;
    z-index: 1000;
    overflow-y: auto;
}

/* Dropdown items */
.dropdown-item {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    color: #333;
}

.dropdown-item:hover {
    background-color: var(--toggle-color);
}

.dropdown-item.active {
    background-color: #ffe4e4;
    color: #d9534f;
}

.dropdown-item .icon {
    margin-right: 10px;
    font-size: 16px;
}

/* Arrow styling */
.dropdown-toggle .arrow {
    font-size: 12px;
    margin-left: auto;
}

.et-fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
}

.et-fieldset {
    display: flex;
}

.et-fieldset .et-button, .et-fieldset .et-btn-active {
    margin: 0px 5px;
    width: 80px;
    height: 40px;
    border: 0.2px solid var(--border-color);
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.et-fieldset .et-button b, .et-fieldset .et-btn-active b {
    margin: 3px 5px 2px 3px;
    font-weight: 600;
    font-size: 16px;
}

.category-fieldset {
    margin: 15px;
}

.et-fieldset .et-button:hover, .et-button:hover, .bud-tile .et-button:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.797);
}

.et-fieldset .et-btn-active {
    margin: 0px 5px;
    width: 80px;
    height: 40px;
    padding: 7px;
    border: 0.2px solid var(--border-color);
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.797);
}

#bud-add-btn {
    font-size: 16px;
}

#cat-add-btn {
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
}

.tile-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-btn {
    border-style: none;
    margin:10px;
}

.tile-btn img, .tile-btn svg {
    height: 24px;
    width: 24px;
    margin-bottom: 5px;
    cursor: pointer;
}

.tile-btn i {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.tile-btn i:hover, .tile-btn img:hover, .tile-btn svg:hover {
    transform: scale(1.1);
}

.et-comp-container {
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    padding: 8px 25px;
    display: flex;
    flex-direction: column;
}

.bud-list {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Space between tiles */
    padding: 1rem;
    margin: 15px 18px;
    overflow-y: auto;
}
  
/* Task Tile */
.et-comp-container .bud-list .bud-tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 18px;
    padding: 18px;
    padding-left: 30px;
    border: 1px solid var(--secondary-color);
    box-shadow: 1px 3px 0px var(--secondary-color);
    transition: box-shadow 0.3s ease;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    height: 70px;
}

.et-comp-container .bud-list .bud-tile:hover {
    border: 1px solid var(--primary-color);
    box-shadow: 1px 3px 0px var(--primary-color);
    background: var(--toggle-color);
}

.et-comp-container .bud-list .bud-tile .bud-tile-budamount{
    color: var(--success-color);
    font-size: 19px;
}

.bud-tile-metadata {
    width: 180px;
}

.bud-month-icon img {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

#bud-tile-month {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 220px;
}

#bud-tile-remarks {
    width: 300px;
}

.bud-tile-btns-set {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-tile:hover {
    box-shadow: var(--box-shadow)
}

/* width */
.et-comp-container .bud-list::-webkit-scrollbar, .dropdown-menu::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
}

/* Handle */
.et-comp-container .bud-list::-webkit-scrollbar-thumb, .dropdown-menu::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 10px;
}


/* === ET MODAL === */
.et-modal-container, .et-msg-modal-container {
    display: flex; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
}

.et-msg-modal-container.msg-success {
    background-color: #00371694;
}

.et-msg-modal-container.msg-danger {
    background-color: #37030c6e
}

.et-msg-modal-container.msg-warning {
    background-color: #302d0489
}

.et-msg-modal-container.msg-info {
    background-color: #08294f92
}

.et-modal-content, .et-msg-modal-content {
    background: var(--sidebar-color);
    padding: 15px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: var(--box-shadow);
    text-align: center;
}

.et-msg-modal-content {
    margin: 20px;  
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.et-modal-body, .et-msg-modal-body {
    padding: 20px 40px 20px 22px;
}

.et-modal-content .et-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 18px;
    font-weight: 600;
}


.et-modal-content .et-modal-header span {
    text-decoration: underline;
    text-underline-offset: 10px;
}

/* Close Button */
.bud-circular-btn  {
    color: rgb(133, 133, 133);
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; 
    background: none;
}

.bud-circular-btn:hover {
    transform: scale(1.1);
    font-weight: 600;
    color: rgb(85, 84, 84);
}

.close:hover {
    color: #000;
}

/* === FORM === */
.etFormDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.etFormDisplay label {
    text-align: right;
    margin-right: 20px;
    width: 80px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.etFormDisplay .form-group input {
    width: 270px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 3px 0 var(--primary-color);
    border-color: var(--primary-color);
}

.etFormDisplay .form-group textarea {
    width: 270px;
    height: 160px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    resize: none;
    box-shadow: 1px 3px 0 var(--primary-color);
    border-color: var(--primary-color);
    overflow-y: auto;
}

textarea::-webkit-scrollbar, textarea::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
}

/* Handle */
textarea::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 10px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
}

.form-group .form-number-input {
    text-align: right;
}

.etFormDisplay button {
    border: none;
    height: 40px;
    width: 150px;
    background: var(--primary-color);
    border-radius: 30px;
    color: white;
    margin: 45px 0px 8px 0px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 0 4px 1px #0077fe81;
}

.etFormDisplay button:hover {
    box-shadow: var(--btn-hover-shadow);
}

.etFormDisplay button:disabled {
    opacity: 0.5; /* Visually indicate the disabled state */
    cursor: not-allowed;
    box-shadow: 0 0 4px 1px #0077fe81;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.etFormDisplay .form-group input.ng-untouched.ng-invalid {
    box-shadow: 1px 3px 0px var(--primary-color);
    border-color: var(--primary-color);
    outline: 4px solid transparent;
    padding-right: 30px;
}

.etFormDisplay .form-group input:disabled, .etFormDisplay .form-group textarea:disabled {
    box-shadow: 1px 3px 0px #20202081;
    border-color: #20202081;
    outline: 4px solid transparent;
    padding-right: 30px;
}


.etFormDisplay .form-group input.ng-touched.ng-invalid {
    box-shadow: 1px 3px 0px var(--danger-color);
    border-color: var(--danger-color);
    outline: 4px solid transparent;
    padding-right: 30px;
}

.etFormDisplay .form-group input::-webkit-validation-bubble,
.etFormDisplay .form-group input::-webkit-validation-bubble-message {
    display: none;
}

.etFormDisplay .form-group input.ng-valid {
    box-shadow: 1px 3px 0px var(--success-color);
    border-color: var(--success-color);
    outline: 10px solid transparent;
    padding-right: 30px;
}
  

/* === MESSAGE BOX === */
.et-msg-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
}

.et-msg-header img {
    width: 300px;
    height: 300px;
    margin-right: 10px;
}

.et-msg-header button {
    position: absolute;
    left: 359px;
    top: -46px;
}

.et-msg-title {
    font-size: 25px;
    font-weight: 600;
}

.et-message {
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* Confirm Box */
.confirm-box-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.confirm-box-buttons .confirm-box-btn {
    border: none;
    height: 40px;
    width: 180px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    margin: 11px;
    padding: 5px;
}

.confirm-box-buttons .confirm-btn {
    background-color: var(--primary-color);
    color: white;
}

.confirm-box-buttons .cancel-btn {
    background-color: var(--dead-color);
    color: var(--font-color);
}

.confirm-box-buttons .cancel-btn:hover{
    color: var(--font-color);
}

.confirm-box-buttons .confirm-box-btn:hover {
    box-shadow: var(--btn-hover-shadow);
}

.confirm-box-buttons .confirm-box-btn:disabled {
    opacity: 0.5; /* Visually indicate the disabled state */
    cursor: not-allowed;
    box-shadow: 0 0 4px 1px #0077fe81;
}

